#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp
	cp target/release/your_executable_name debian/tmp/usr/bin/your_executable_name

override_dh_clean:
	dh_clean
	rm -rf target