#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	if [ "$$SKIP_BUILD" = "1" ]; then \
		echo "Skipping cargo build as requested"; \
	else \
		cargo build --release; \
	fi

override_dh_auto_install:
	# Let dh_install handle the file copying based on debian/acr.install

override_dh_auto_clean:
	dh_auto_clean
	if [ "$$SKIP_BUILD" = "1" ]; then \
		echo "Skipping cargo clean as requested"; \
	else \
		cargo clean; \
	fi
